.contactArea{
    color: #EEECE9;
    background-color: #688490;
    margin: 0;
    padding-bottom: 15rem;
}

.contactTextArea {
    padding: 5vh 0 10vh 0;
    margin: 0 10vw;
}

.heading {
    font-size: 3rem;
    padding: 1rem;
}

.contactForm {
    display: flex;
    flex-direction: column;
}

.contactLabel {
    font-family: 'Noto Serif JP', serif;
    padding: 0.3rem;
}

.contactInput {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 0;
    font-family: 'Noto Serif JP', serif;
    font-size: 1rem;
    border-radius: 10px;
}

.contactText {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 0;
    font-family: 'Noto Serif JP', serif;
    min-height: 4rem;
    font-size: 1rem;
    border-radius: 10px;
}

.contactAreaButton {
    margin: 1rem auto 0 auto;
    display: block;
    color: #222222;
    background-color: white;
    border: solid 1px #222222;
    padding: 0.5rem;
    width: 100%;
    font-weight: bold;
    -webkit-appearance: none;
    font-family: 'Noto Serif JP', serif;
    font-size: 1rem;
    border-radius: 10px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width:600px) {
    .formFlex {
        display: flex;
        justify-content: space-between;
    }

    .formGroup {
        display: flex;
        flex-direction: column;
        width: 47%;
    }

    .contactAreaButton {
        margin: 1rem 0 0 0;
        width: 25%;
        font-weight: bold;
        transition: transform .2s;
        -webkit-appearance: none;
    }

    .contactAreaButton:hover {
        transform: scale(1.1);
    }

}

